.bg-green-1 {
	background: #74CFAE;
}

.bg-green-2 {
	background: #5ABC98;
}

.bg-green-3 {
	background: #3EA982;
}

.bg-green-4 {
	background: #1D9267;
}

.bg-green-5 {
	background: #066B46;
}

.text-green-1 {
	color: #74CFAE;
}

.text-green-2 {
	color: #5ABC98;
}

.text-green-3 {
	color: #3EA982;
}

.text-green-4 {
	color: #1D9267;
}

.text-green-5 {
	color: #066B46;
}

body {
	background: #f2f2f2;
}

.btn-green {
	color: #fff;
	background-color: #74CFAE;
}

.btn-green:hover {
	color: #fff;
	background-color: #5ABC98;
}

.btn-dark-green {
	color: #fff;
	background-color: #3EA982;
}

.btn-dark-green:hover {
	color: #fff;
	background-color: #1D9267;
}

.table-green {
	background-color: #e3fff2;
	border: #1D9267;
}

.ml-auto .dropdown-menu {
	left: auto !important;
	right: 0;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
		font-size: 1.2rem;
	}

	.show-shop h3 {
		padding-top: 2rem;
		font-size: 2.4rem;
	}

	.show-shop p {
		font-size: 1.2rem;
	}

	.show-shop label {
		font-size: 1.2rem;
	}

	.show-shop img {
		max-height: 160px;
	}

}

.index-title {
	font-weight: bolder;
	font-size: 6rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.index-danger {
	font-size: 1.6rem;
}

.index-description {
	font-size: 1.7rem;
}

.index-start-btn {
	margin: 1rem;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	border-radius: 0;
}

.login-btn {
	margin: 1rem;
	padding: 0.6rem 2rem;
	font-size: 1.3rem;
	border-radius: 0;
}

.no-radius {
	border-radius: 0;
}

.index-area-top {
	margin-top: 6rem;
	margin-bottom: 10rem;
}

.index-area-center-text {
	margin-top: 8rem;
	margin-bottom: 2rem;
}

.index-area-about {
	font-size: 1.3rem;
	margin-top: 6rem;
	margin-bottom: 10rem;
}

.index-area-about .h1 {
	margin-bottom: 2rem;
}

.index-area-bottom {
	text-align: right;
	font-size: 1rem;
	padding: 1rem;
}

.index-phone {
	margin: 0;
	vertical-align: bottom;
	border: 0;
}

.navbar-header {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(0 0 0);
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #74CFAE;
}

.navbar-logo {
	max-height: 50px;
}

.text-deco-none {
	text-decoration: none !important;
}

.basic-area {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.shop-img {
	text-align: right;
	position: relative;
}

.img-inner-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2rem 0 0 0;
}

.img-inner-text span {
	color: #ffffff;
	padding: 4px 5px 4px 5px;
}

.show-shop a {
	text-decoration: none;
	color: #000000;
}

.show-shop a:hover {
	color: #444444;
}

.show-shop a img:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.show-shop {
	padding: 1rem 0 1rem 0;
	border-bottom: 1px solid #999999;
}

.meal-img {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.navbar-toggler {
	border: 0;
}

.navbar-toggler:focus {
	box-shadow: inset 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
}

.btn-outline-dark-green {
	color: #066b46;
	border-color: #066B46;
	border-radius: 0;
}

.btn-outline-dark-green:hover {
	color: #fff;
	background-color: #3EA982;
	border: 1px solid #066B46;
}

.btn-outline-dark-green:focus {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.btn-outline-dark-green:active {
	color: #fff;
	background-color: #1D9267;
	border: 1px solid #066B46;
}